input[type=text] {
    background: #fff;
    border: 1px solid #000;
    height: 20px;
    padding: 1px 2px;
}

input[type=text].error {
    border: 1px solid #f00;
}

input[type=submit] {
    height: 24px;
    background: #ccc;
    border: 0px;
}

#search-button {
    margin-left: 5px;
}

.search {
    margin-bottom: 20px;
}

.error-text {
    color: #f00;
}

.form-line {
    padding: 5px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.patient {
    border: 1px solid #000;
    padding: 0 5px;
}

.patient .line {
    display: flex;
    margin: 5px 0;
}

.patient .title {
    font-weight: bold;
    width: 100%;
    flex-grow: 1;
}

.patient .data {
    flex-grow: 1;
    width: 100%;
}

.patient .menu {
    padding-top: 5px;
}

a {
    color: #07b;
    text-decoration: none;
}

a:hover {
    color: #05b;
    text-decoration: underline;
}

#go-back-link {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
}

.patient-list-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.next-page-link {
    display: block;
    float: right;
}

.prev-page-link {
    float: left;
    display: block;
}

.pagination {
    margin-top: 20px;
    clear: both;
}
